/*HOVED-CSS VALG*/
:root {
  font-family: Arial, sans-serif;
}

/*CSS FOR "BODY" OG HOVEDEELEMENTER*/
body {
  margin: 0;
  background: salmon;

  min-height: 100vh;
  display: grid;
  place-items: center;
}

main {
  max-width: 500px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: white;
  border-radius: 10px;
}

/*CSS FOR TEKSTEELEMENTER H1 & H2*/
h1,
h2 {
  text-align: center;
  color: darkgreen;
}

/*FORM OG LABEL FOR INPUT-FELT I APPEN*/
form {
  display: grid;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

label {
    font-weight: bold;
}

/*INPUT-FELT I APP*/
input[type="text"],
input[type="number"] {
  padding: 0.4rem;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;

  padding: 0.7rem;
  background-color: #f0f0f0;
  border: 1px solid #ffffff;
  border-radius: 10px;
}

button {
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
}

/*LISTEELEMENTER I APP*/
ul {
  list-style: none;
  padding: 0;
}

li {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 0.5rem;
  padding: 0.4rem 0;
  border-bottom: 1px solid #ffffff;
}

li label {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

li input[type="number"] {
  width: 60px;
}

/*CSS FOR ERROR-MELDINGER I APP*/
p {
  color: red;
  text-align: center;
  font-weight: bold;
  font-style: italic;;
}